body {
  display: flex;
  justify-content: center;
}

div {
  margin: 20px;
}

.mainInputs {
  width: 190px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
}